@keyframes glow {
  0% { opacity: 0; }
  50% { opacity: 0.618; }
  100% { opacity: 0; }
}


@keyframes pulse {
  0% {
    transform: scale(0.2);
    opacity: 0.618;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}


@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
